<div class="relative">
  <img
    src="https://images.unsplash.com/photo-1576091160399-112ba8d25d1d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    class="absolute inset-0 object-cover w-full h-full"
    alt=""
  />
  <div class="relative bg-opacity-70 bg-secondary">
    <svg
      class="absolute inset-x-0 bottom-0 text-white fill-white dark:fill-primary"
      viewBox="0 0 1160 160"
    >
      <path
        d="M-164 13L-104 39.7C-44 66 76 120 196 141C316 162 436 152 556 119.7C676 88 796 34 916 13C1036 -8 1156 2 1216 7.7L1276 13V162.5H1216C1156 162.5 1036 162.5 916 162.5C796 162.5 676 162.5 556 162.5C436 162.5 316 162.5 196 162.5C76 162.5 -44 162.5 -104 162.5H-164V13Z"
      ></path>
    </svg>
    <div
      class="relative px-4 py-16 mx-auto overflow-hidden sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <div class="flex flex-col items-center justify-between xl:flex-row my-20">
        <div class="w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12">
          <h2
            class="max-w-lg my-3 font-sans text-3xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none"
          >
            Dimentica i faldoni <br class="hidden md:block" />
            porta solo il necessario
          </h2>
          <p class="max-w-xl text-base text-gray-200 md:text-lg pb-20">
            Con Medibridge puoi creare la tua cartella sanitaria digitale per
            averla sempre con te
          </p>
        </div>
        <div class="w-full max-w-xl xl:px-8 xl:w-5/12">
          <div
            class="bg-primary rounded shadow-2xl p-7 sm:p-10 flex items-center flex-col"
          >
            <div class="flex">
              <img
                src="../../../assets/img/Logo.png"
                alt="Medibridge Logo"
                width="50px"
              />
              <h3
                class="text-xl font-semibold sm:text-center sm:text-2xl text-white mt-2"
              >
                Medi<span class="font-normal">bridge</span>
              </h3>
            </div>
            <div class="mt-6 mb-10">
              <p class="text-white">Il Tuo Ponte Verso il Benessere Digitale</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="relative items-center px-4 py-16 mx-auto overflow-hidden sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 lg:flex md:block sm:block"
>
  <div>
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-primary dark:text-white sm:text-4xl sm:leading-none"
    >
      About Medi<span class="font-normal">bridge</span>
    </h2>
    <p class="max-w-xl text-base text-black dark:text-gray-200 md:text-lg mb-3">
      La vostra piattaforma di fiducia per la gestione innovativa delle cartelle
      sanitarie digitali. Siamo qui per rivoluzionare il modo in cui accedete e
      gestite le vostre informazioni mediche, portando trasparenza, sicurezza e
      convenienza nella vostra esperienza sanitaria.
    </p>
    <p class="max-w-xl text-base text-black dark:text-gray-200 md:text-lg mb-3">
      In Medibridge, ci impegniamo a creare una connessione diretta tra voi e la
      vostra salute. Siamo un team appassionato di professionisti del settore
      sanitario e tecnologico, uniti dalla missione di semplificare il vostro
      percorso verso una gestione più consapevole della salute.
    </p>
    <p
      class="max-w-xl text-base font-semibold text-black dark:text-gray-200 md:text-lg mb-3"
    >
      La nostra visione
    </p>
    <p class="max-w-xl text-base text-black dark:text-gray-200 md:text-lg mb-3">
      Immaginate un luogo in cui le vostre cartelle mediche sono accessibili in
      modo sicuro e immediato, un luogo in cui potete avere il controllo
      completo delle vostre informazioni sanitarie. Medibridge è questa visione
      resa realtà. Creiamo un ponte tra voi e il vostro benessere, consentendovi
      di navigare attraverso il vostro storico medico con facilità.
    </p>
  </div>

  <div>
    <img
      src="../../../assets/img/about-mock.png"
      class="inset-0 object-cover w-[600px] lg:ms-10 md:mx-auto"
      alt=""
    />
  </div>
</div>

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p
        class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 dark:text-white uppercase rounded-full bg-teal-accent-400"
      >
        Team sviluppo
      </p>
    </div>
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-accent sm:text-4xl md:mx-auto"
    >
      <span class="relative inline-block">
        <svg
          viewBox="0 0 52 24"
          fill="#2a4ae1"
          class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
        >
          <defs>
            <pattern
              id="247432cb-6e6c-4bec-9766-564ed7c230dc"
              x="0"
              y="0"
              width=".135"
              height=".30"
            >
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect
            fill="url(#247432cb-6e6c-4bec-9766-564ed7c230dc)"
            width="52"
            height="24"
          ></rect>
        </svg>
        <span class="relative">Medibridge</span>
      </span>
      è stata sviluppata da
    </h2>
    <p class="text-base text-gray-400 md:text-lg">Lorenzo Aluigi</p>
  </div>
  <div
    class="grid gap-10 row-gap-8 mx-auto sm:row-gap-10 lg:max-w-screen-lg sm:grid-cols-2 lg:grid-cols-3"
  >
    <div class="flex">
      <img
        class="object-cover w-20 h-20 mr-4 rounded-full shadow"
        src="../../../assets/img/profilo.jpg"
        alt="Person"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-bold dark:text-white">Lorenzo Aluigi</p>
        <p class="text-sm text-gray-400">Full Stack Developer</p>
      </div>
    </div>
    <div class="flex">
      <img
        class="object-cover w-20 h-20 mr-4 rounded-full shadow"
        src="../../../assets/img/profilo.jpg"
        alt="Person"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-bold dark:text-white">Lorenzo Aluigi</p>
        <p class="text-sm text-gray-400">LinkedIn</p>
      </div>
    </div>
    <div class="flex">
      <img
        class="object-cover w-20 h-20 mr-4 rounded-full shadow"
        src="../../../assets/img/profilo.jpg"
        alt="Person"
      />
      <div class="flex flex-col justify-center">
        <p class="text-lg font-bold dark:text-white">Lorenzo Aluigi</p>
        <p class="text-sm text-gray-400">GitHub</p>
      </div>
    </div>
  </div>
</div>
